<div class="section">
    <div class="inner-section">
        <div class="image-container row">
            <img src="https://dummyimage.com/428x280" alt="">
            <p class="name">Max Chykalo</p>
        </div>
        <div class="contact-info">
            <p><i class="fa fa-briefcase"> </i>  Web Developer</p>
            <p><i class="fa fa-home"> </i>  Lviv, UK</p>
            <p><i class="fa fa-envelope"> </i>  maxchykalo06@gmail.com</p>
            <p><i class="fa fa-phone"> </i>  063 078 50 63</p>
        </div>
        <hr>
        <div class="skills">
            <h3><i class="fa fa-asterisk"></i> Skills</h3>
            <div class="skill">
                <div class="technology">CSS/HTML</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>80%</p>
                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="technology">JavaScript</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>80%</p>
                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="technology">C#</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>90%</p>
                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="technology">ASP.NET MVC</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>80%</p>
                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="technology">Angular 2/4</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>70%</p>
                    </div>
                </div>
            </div>
            <div class="skill">
                <div class="technology">Gulp</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>50%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="languages">
            <h3><i class="fa fa-globe"></i> Languages</h3>
            <div class="skill">
                <div class="technology">Ukraine</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>100%</p>
                    </div> 
                </div>
            </div>
            <div class="skill">
                <div class="technology">Russian</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>90%</p>
                    </div> 
                </div>
            </div>
            <div class="skill">
                <div class="technology">English</div>
                <div class="rank-container">
                    <div class="rank-level">
                        <p>60%</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>