<div class="education section">
    <div class="inner-section">
        <div class="rows-with-name-date-and-description">
            <p><i class="fa fa-certificate"></i> Education</p>
            <div class="name-date-description-container">
                <div class="row">
                    <div class="name">Zhovkva Secondary School</div>
                    <div class="date"><i class="fa fa-calendar"></i>September 2004 - May 2015</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti sint excepturi temporibus ipsa voluptatum ab iusto aut aliquid reprehenderit! Ducimus illum adipisci minus eaque. Facere incidunt hic doloribus nisi.</div>
                </div>
                <hr>
                <div class="row">
                    <div class="name">Lviv National Polytechnic University</div>
                    <div class="date"><i class="fa fa-calendar"></i>September 2015 - Current</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti sint excepturi temporibus ipsa voluptatum ab iusto aut aliquid reprehenderit! Ducimus illum adipisci minus eaque. Facere incidunt hic doloribus nisi.</div>
                </div>  
                <hr>
                <div class="row">
                    <div class="name">Neadevis Internship</div>
                    <div class="date"><i class="fa fa-calendar"></i>July 2017 - August 2017</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti sint excepturi temporibus ipsa voluptatum ab iusto aut aliquid reprehenderit! Ducimus illum adipisci minus eaque. Facere incidunt hic doloribus nisi.</div>
                </div>
                <hr>
                <div class="row">
                    <div class="name">Epam Student</div>
                    <div class="date"><i class="fa fa-calendar"></i> October2017 - Current</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corrupti sint excepturi temporibus ipsa voluptatum ab iusto aut aliquid reprehenderit! Ducimus illum adipisci minus eaque. Facere incidunt hic doloribus nisi.</div>
                </div>

            </div>
        </div>
    </div>
</div>