<div class="footer">
    <p>Find me on social media</p>
    <a href="https://www.facebook.com/profile.php?id=100017194809876" class="fa fa-facebook-official"></a>
    <a href="https://www.instagram.com/max_chykalo/?hl=uk" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/maksym-chykalo-402578143/" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-skype"></a>
    <a href="#" class="fa fa-gmail"></a>
    <p>Powered by M.Ch.(design from <a href="https://www.w3schools.com/w3css/tryw3css_templates_cv.htm">w3schools)</a></p>
</div>