<div class="experience section">
   <div class="inner-section">
     <div class="rows-with-name-date-and-description">
        <p><i class="fa fa-suitcase"></i> Work Experience(Fake)</p>
            <div class="name-date-description-container">
                <div class="row">
                    <div class="name">Front End Developer</div>
                    <div class="date"><i class="fa fa-calendar"></i> June 2012 - July 2013</div>
                    <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse soluta dolorum eveniet alias voluptatibus quidem qui ipsa ea laboriosam odio?</div>
                </div>
                <hr>
                <div class="row">
                    <div class="name">Back End Developer</div>
                    <div class="date"><i class="fa fa-calendar"></i> August 2013 - October 2014</div>
                    <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse soluta dolorum eveniet alias voluptatibus quidem qui ipsa ea laboriosam odio?</div>
                </div>
                <hr>        
                <div class="row">
                    <div class="name">Full Stack Developer</div>
                    <div class="date"><i class="fa fa-calendar"></i> December 2015 - Jan 2016</div>
                    <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse soluta dolorum eveniet alias voluptatibus quidem qui ipsa ea laboriosam odio?</div>
                </div>
                <hr>
                <div class="row">
                    <div class="name">Graphic Designer</div>
                    <div class="date"><i class="fa fa-calendar"></i> July  2016 - Current</div>
                    <div class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse soluta dolorum eveniet alias voluptatibus quidem qui ipsa ea laboriosam odio?</div>
                </div>
            </div>
        </div>
   </div>
</div>